h1 {
    color: rgb(57, 57, 58);
    font-family: sans-serif;
    font-size: 26px;
  }

  h2 {
    color: rgb(57, 57, 58);
    font-family: sans-serif;
    float: left;
    margin-right: 20px;
    top: -3px;
    position: relative;
  }

  button{
      cursor: pointer;

  }

  audio{
      display: none;
  }

  .divstyle{
      display: none;
  }

  .links{
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
  }

  .buttonlarge{
      font-size: 36pt;
      width: 100pt;
      height: 100pt;
      border-color: rgba(163, 163, 163, 0.562);
      background-color: lightgray;
      outline:none;
      margin-right: 10px;
  }

  .buttonlong{
    font-size: 20pt;
    width: 211pt;
    height: 30pt;
    border-color: rgba(163, 163, 163, 0.562);
    background-color: lightgray;
    outline:none;
    margin-right: 10px;
}

  .buttonsmall{
    font-size: 12pt;
    width: 63pt;
    height: 20pt;
    border-color: rgba(163, 163, 163, 0.562);
    background-color: lightgray;
    outline:none;
    margin-right: 10px;
    border-radius: 5%;
}

.buttonsmall:hover{
    /* background-color: rgba(95, 158, 160, 0.493);*/
    border-width: 2pt;
      }

  .buttonlarge:hover{
/* background-color: rgba(95, 158, 160, 0.493);*/
border-width: 2pt;
  }